* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

div.containerOfHole {
    height: 25em;
    width: 18em;
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 15em auto;
    border: 3px solid rgb(192, 185, 0);
}

body {
    background-image: url(../assests/Images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.containerOfHole h1 {
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 1.5em;
}

div.containerOfHole h1 span {
    font-size: 25px;
    font-weight: 700;
    color: rgb(129, 134, 0);

}

div.containerOfHole input {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 20px;
    background-color: bisque;

}

div.containerOfHole form {
    display: flex;
    flex-direction: column;
    margin: 2em auto;

}

div.containerOfHole form button {
    height: 30px;
    width: 12em;
    margin: 12px auto;
    background-color: rgb(129, 134, 0);
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;

}