* {
    color: black;
    text-decoration: none;
}

:root {
    --base: #ff8c00;
    --trans: #503b3a;
    --black: #000000;
    --brown: #492000;

}

body {
    background-color: pink;
}

.id {
    display: flex;
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 15px;
    border-top: 3px solid #d4af37;
    border-bottom: 3px solid #d4af37;
    padding: 12px;
}

.google-mini {
    height: 450px;
    width: 450px;
    border: 5px solid #e4e4e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

input.form-check-input {
    height: 2em;
    width: 2em;
    margin-top: 1.2em;
    margin-left: 1em;
}

.google-img {
    height: 100px;
    width: 150px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.profile-image1 {
    height: 40px;
    width: 40px;
    margin-top: 11px;
    margin-left: 2em;
    border-radius: 1em;
}

.google-img2 {
    margin-left: 200px;
}



.google-main {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.span-btn {
    display: flex;
    justify-content: space-around;
}

.btn-google-1 {
    color: white;
    background-color: var(--base);
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    margin-top: 12px;
}

p {
    padding-right: 2px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 1em;
}